<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BJL.ComputerWorld.PL.Test.Properties.Settings.ConnStr"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=BJL.ComputerWorld.DB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="" />
    </connectionStrings>
</configuration>